.user_profile_page{
    background-color: var(--form-bg-color);
    width: 65%;
    height: 90vh;
    display: flex;
    margin-top: 70px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin: auto;
    border: 1px solid rgb(100, 102, 95);
}
.profile_img{
    align-items: center;
    /* width: 35%; */
    background-color: rgb(97, 125, 125);
    /* margin: 50px; */
}
.profile_img p{
    text-align: center;
    color: rgb(9, 7, 15);
}
.profile_img img{
    width:150px;
    height: 150px;
    border-radius: 50%;
    margin:38px;
}
.update_btn{
    padding: 10px 20px;
    background-color: var(--button-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
    margin-left:40px;
    margin-top: 12px;
    /* width: 30%; */
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
}

.profile_info{
    width: 65%;
    margin: 50px;
    line-height: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.logout_btn{
    padding: 10px 20px;
    background-color: var(--button-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
    width:150px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    margin-left: 40px;
    
}
#fileInput{
    margin-left: 20px;
    margin-bottom: 20px;
    border: 0.1px solid rgb(20, 41, 20);
    border-radius: 5px;
    background-color: rgb(97, 125, 125);
    font-size: 12px;
    width:80%;
}
.delbtn{
    background-color: rgb(63, 96, 97);
    margin-left:40px;
    margin-top: 12px;
    font-size: 20px;
    /* margin-bottom: 10px;  */
}
@media screen and (max-width: 600px) {
    .user_profile_page{
        width: 70%;
        height:50%;
        display: flex;
        flex-wrap: wrap;
        font-size: 18px;
        
    }
    .profile_img{
        width: 100%;
        height: 59%;
        display:grid;
        
    }
    .profile_img img{
        width: 100px;
        height: 100px;
    }
    .update_btn{
        margin-bottom: 10px;
    }
    #fileInput{
        /* margin-left: 40px; */
        margin-bottom: 10px;
    }
    .profile_info{
        width: 100%;
        height: 50%;
        margin: 0;
        line-height: 30px;
    }

}

@media screen and (max-width: 920px) {
    .user_profile_page{
        display: flex;
        flex-wrap: wrap;
        font-size: 13px;
        height: 100%;
    }
    .profile_info{
        width: 100%;
        height: 40%;
        margin: 0;
        line-height: 30px;
    }
    .profile_img{
        width: 100%;
        height: 60%;
        display: grid;
        justify-items: center;
        margin-bottom: 20px;
    }
    .update_btn, .logout_btn{
        margin-bottom: 10px;
    }
   
}