.user_profile_page{
    background-color: var(--form-bg-color);
    width: 80%;
    min-height: 90vh;
    display: flex;
    border-radius: 7px;
    margin: auto;
    border: 1px solid rgb(100, 102, 95); 
}

.profile_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    background-color: rgb(97, 125, 125);
}

.profile_img img{
    width:150px;
    height: 150px;
    border-radius: 50%;
    margin:38px;
    object-fit: cover;
}

.Upload_btn{
    padding: 10px 20px;
    background-color: var(--button-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
    margin-top: 35px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px; 
}

.Upload_btn:hover{
    background-color: var(--hover-btn-color);
}

.profile_info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 65%;
    line-height: 40px;
    align-items: center;
}

.p-elements p{
    font-size: 20px;
}

.logout_btn{
    padding: 10px 15px;
    background-color: var(--button-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
    width:150px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 15px; 
}

.logout_btn:hover{
    background-color: var(--hover-btn-color);
}
#fileInput{
    border: 0.1px solid rgb(20, 41, 20);
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delbtn{
    background-color: rgb(97, 125, 125);
    margin-top: 12px;
    font-size: 39px;
    /* padding: 3px 8px; */
    color: rgb(130, 19, 19);
    margin-bottom: 10px; 
    border: none;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .user_profile_page{
        display: flex;
        flex-wrap: wrap;
        font-size: 18px;
        
    }
    .profile_img{
        width: 100%;
        height: 60%;
        display: grid;
        justify-items: center;
        margin-bottom: 20px;
    }
    .Upload_btn, .logout_btn{
        margin-bottom: 10px;
    }
   
}

@media screen and (max-width: 600px) {
    .user_profile_page{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        font-size: 18px;  
    }
   
    .profile_img img{
        width: 100px;
        height: 100px;
    }
    
    .Upload_btn{
        margin-bottom: 10px;
    }
    #fileInput{
        width: 150px;
    }
    .profile_info{
        width: 100%;
        height: 50%;
        margin: 0;
        line-height: 30px;
    }

    .logout_btn{
        padding: 10px 10px;
        width:130px;
        font-size: 18px;
        font-weight: 500;
        border-radius: 8px;
        margin-top: 20px; 
}

@media screen and (max-width: 920px) {
    .user_profile_page{
        display: flex;
        flex-wrap: wrap;
        font-size: 13px;
        height: 100%;
    }
    .profile_info{
        width: 100%;
        height: 40%;
        margin: 0;
        line-height: 30px;
    }

    .Upload_btn{
        padding: 10px 10px;
        margin-top: 28px;
        font-size: 18px;
        font-weight: 500;
        border-radius: 8px; 
    }
    
    .p-elements p{
        font-size: 17px;
    }

 

}
}