nav{
    background-color: #ffffff91;
    height: fit-content;
    width: 100%;
    border-bottom: 1px solid #0000001a;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

nav ul li{
    cursor: pointer;
    color: black;
    
}