

/* root */
:root{
  --main-color : ##F9F9F9;
  --button-color: #176B87;  
  --white-color: #fff;
  --hover-btn-color: #007bff;
  --form-bg-color: #F7F7F7;
  --text-color: #333;
  --homePage-bg-color: #adbc9f9c;
  --color-white: #fff;  
  --border-color: #333;
}


/* body */
body{
  background-color: var(--main-color);
  font-family: 'Roboto', sans-serif;
  
}


* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


 